<div class="myapps-index">
<div id="content" style="width: 980px;">

<div class="panel" id="app-index">
  <div class="panel-body">
    <form id="searchbar">
      <fieldset class="part">
        <h2 id="searchcount" style="width:102px">
					<%= link_to image_tag(avatar_url(@user),style:'width:80px;height:80px;margin-bottom:14px;border: 1px solid #82859E;padding:2px'),'http://gravatar.com/emails/',class:'tiptipsy','original-title'=>'Change your avatar at gravatar.com' %>
				</h2>
				<h2 id="searchcount" style="font-size:28px;margin-top:10px">
					<%= link_to @user.name,@user,style:'color:#8D79F2' %><br>
					<span style="font-size:14px;color:#82859E">
						<% if @user.signature and @user.signature!='' %>
							<%= @user.signature %>
						<% else %>
							Member since <%= @user.created_at.to_date %>
						<% end %>
					</span>
				</h2>
        <div class="field">
          <label>
						<%= link_to 'Message' %>
            <span class="separator"> | </span>
						<%= link_to 'Follow' %>
          </label>
        </div>
      </fieldset>
    </form>
    
    
  </div>
</div>

</div>
</div>
