<div id="container">

    <div class="news">

      <div class="myapps-index">
        <div id="content" style="width:100%">

        <div class="panel" id="app-index">
          <div class="panel-body">
            <form id="searchbar">
              <fieldset class="part">
                <h2 id="searchcount">News Feed</h2>
                <div class="field">
                  <label>&nbsp;
                  </label>
                </div>
              </fieldset>
            </form>

          <div class="user_app part nopointer">

          </div>
          <div class="user_app part nopointer">

          </div>
                
                
                <!-- dup -->

                <!-- dup -->
                
          </div><!-- end panel-body -->
        </div><!-- end panel -->
        </div><!-- end content -->
      </div><!-- end myapps-index -->
    </div>




    <div class="col2">
      <div class="repos" id="your_repos">

        <div class="myapps-index">
          <div id="content" style="width:100%;margin-top:20px">

          <div class="panel" id="app-index">
            <div class="panel-body">
              <form id="searchbar">
                <fieldset class="part">
                  <h2 id="searchcount" style="width:180px">My Tasks (<%= current_user.tasks.count %>)</h2>
                  <div class="field" style="margin-right:-22px;margin-top:-26px">
                    <label>
          						<%= link_to 'Misson Launch',new_task_path,class:'button' %>
                    </label>
                  </div>
                </fieldset>
              </form>


                  <div class="user_app part ">
                    <div class="app_name small_app">
                      <h3><a href="/myapps/cnukejian">cnukejian</a></h3>
                    </div>
                    <div class="clear"></div>
                  </div>


                  <div class="user_app part ">
                    <div class="app_name small_app">
                      <h3><a href="/myapps/cnukejian">cnukejian</a></h3>
                    </div>
                    <div class="clear"></div>
                  </div>


                  <div class="user_app part ">
                    <div class="app_name small_app">
                      <h3><a href="/myapps/cnukejian">cnukejian</a></h3>
                    </div>
                    <div class="clear"></div>
                  </div>


                  <div class="user_app part ">
                    <div class="app_name small_app">
                      <h3><a href="/myapps/cnukejian">cnukejian</a></h3>
                    </div>
                    <div class="clear"></div>
                  </div>


            </div>
          </div>

          </div>
        </div>

      </div>

        <div class="repos watching" id="watched_books" style="margin-top:-15px">

          <div class="myapps-index">
            <div id="content" style="width:100%">

            <div class="panel" id="app-index">
              <div class="panel-body">
                <form id="searchbar">
                  <fieldset class="part">
                    <h2 id="searchcount">Watched <%= link_to 'Books',books_path,style:'color:#8D79F2'%> (<%= current_user.books.count %>)</h2>
                    <div class="field" style="margin-right:-22px;margin-top:-26px">
                      <label>&nbsp;
                      </label>
                    </div>
                  </fieldset>
                </form>


                    <div class="user_app part ">
                      <div class="app_name small_app">
                        <h3><a href="/myapps/cnukejian">cnukejian</a></h3>
                      </div>
                      <div class="clear"></div>
                    </div>


                    <div class="user_app part ">
                      <div class="app_name small_app">
                        <h3><a href="/myapps/cnukejian">cnukejian</a></h3>
                      </div>
                      <div class="clear"></div>
                    </div>


                    <div class="user_app part ">
                      <div class="app_name small_app">
                        <h3><a href="/myapps/cnukejian">cnukejian</a></h3>
                      </div>
                      <div class="clear"></div>
                    </div>


              </div>
            </div>

            </div>
          </div>


       </div>

    </div>
<%= clear %>
</div>