
<div class="myapps-index">
<div id="content">

<div class="panel" id="app-index">
  <div class="panel-body">
    <form id="searchbar">
      <fieldset class="part">
        <h2 id="searchcount">Your Books</h2>
        <div class="field">
          <label>
						<%= link_to 'All Books',books_path %>
            <span class="separator"> | </span>
						<%= link_to 'New Book',new_book_path %>
          </label>
        </div>
      </fieldset>
    </form>
    
      
        <div class="user_app part">
          <a class="resources" href="myapps/cnukejian">
            <span class="database"><%=  %></span>
          </a>
          <div class="app_name">
            <h3><a href="/myapps/cnukejian">cnukejian</a></h3>
          </div>
          <ul class="submenu">
            <li><a href="/myapps/cnukejian">Enter</a></li>
						<li><a href="/myapps/cnukejian">Unwatch</a></li>
						<li></li>
          </ul>
          <div class="clear"></div>
        </div>
      
    
  </div>
</div>

</div>
</div>



<div class="myapps-index">
<div id="content">

<div class="panel" id="app-index">
  <div class="panel-body">
    <form id="searchbar">
      <fieldset class="part">
        <h2 id="searchcount">Watched Books</h2>
        <div class="field">
          <label>
						<%= link_to 'All Books',books_path %>
            <span class="separator"> | </span>
						<%= link_to 'New Book',new_book_path %>
          </label>
        </div>
      </fieldset>
    </form>
    
      
        <div class="user_app part">
          <a class="resources" href="myapps/cnukejian">
            <span class="database"><%=  %></span>
          </a>
          <div class="app_name">
            <h3><a href="/myapps/cnukejian">cnukejian</a></h3>
          </div>
          <ul class="submenu">
            <li><a href="/myapps/cnukejian">Enter</a></li>
						<li><a href="/myapps/cnukejian">Unwatch</a></li>
						<li></li>
          </ul>
          <div class="clear"></div>
        </div>
      
    
  </div>
</div>

</div>
</div>