<p><%= I18n.t('t2ku.reset_mail.p1') %> <%= @resource.name %>!</p>

<p><%= I18n.t('t2ku.reset_mail.p2') %></p>

<p><%= link_to I18n.t('t2ku.loginreg.passwd_forgot_commit'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= I18n.t('t2ku.reset_mail.p3') %></p>
<p><%= I18n.t('t2ku.reset_mail.p4') %></p>

<p>If you have any questions, you can reply this mail to ask. (Yeah, that's right, this is not a non-reply mail!)</p>