
<div id="subheader" class="clearfix">
  <div class="app">
    <h1><%= link_to "T2Ku",root_path,id:"main_menu_link_general" %></h1>
  </div>

  <ul class="clearfix submenu">
		<%= navigation_array.join("\n").html_safe %>
  </ul>

</div>


<div id="innerright">
	<ul class="account-links inline">
	    <div style="display: block;" id="logged-in-links">
				<% if user_signed_in? %>
					<li><%= link_to image_tag(avatar_url(current_user,22),style:'margin-top:-2px;border:1px solid #82859E;margin-right:2px;width:22px;height:22px'),current_user %><span style="position:relative;left: 8px;top:-7px;margin-right:6px"><%= link_to current_user.name,current_user %></span></li>
		      <li><%= link_to 'My Dashboard',account_path,id:'account_link',class:'special' %></li>
		      <li><%= link_to I18n.t('t2ku.navigation_special.logout'),destroy_user_session_path,:method=>:delete,id:"logout_link",class:'special' %></li>
				<% else %>
					<li><%= link_to I18n.t('t2ku.navigation_special.login'),new_user_session_path(redirect_to:request.path),id:"login_link",class:'special' %></li>
		      <li><%= link_to I18n.t('t2ku.navigation_special.reg'),new_user_registration_path,id:"reg_link",class:'special' %></li>
				<% end %>
	    </div>
  </ul>
</div>
